# Android Studio & Gradle
.gradle/
build/
.cxx/
.idea/
*.iml
local.properties
.navigation/

# OS/System generated
.DS_Store
Thumbs.db

# User specific/temp files
crash_log*.txt
*.jpg
*.png

# Exclude Python folder as requested
Python/
